@using GT.Core.DTO.Impl
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model List<GT.Core.DTO.Impl.ListingInquiryDTO>
@{
	ViewData["Title"] = "Ansökningar";
}

@using (Html.BeginForm("GetInquiries", "Inquiries", FormMethod.Get))
{
	<div>
		<h2>Applications for @ViewData["JobTitle"]</h2>
		<div>
			@if (ViewData["Inquiries"] is not null)
			{
				@foreach (var item in (List<ListingInquiryDTO>)ViewData["Inquiries"])
				{
					<div class="card-body">
						<h5>
							<a asp-action="GetInquiry" asp-controller="Inquiry" asp-route-id="@item.Id" class="card-title">@item.MessageTitle</a>
						</h5>
						<p class="card-text">@item.LinkedInLink</p>
						<a asp-action="Delete" asp-controller="Inquiry" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
					</div>
				}
			}
		</div>
	</div>
}
