@model GT.Core.DTO.Impl.InquiryDTO

@{
	ViewData["Title"] = "Ansökningar";
}
<p>Model ID: @Model.Id</p>
<p>Listing ID: @Model.ListingId</p>
<p>Applicant ID: @Model.ApplicantId</p>
@if (Model.ApplicantEmail is not null)
{
	<p>Email: @Model.ApplicantEmail</p>
}
<p>Message Title: @Model.MessageTitle</p>
<p>Message Body: @Model.MessageBody</p>
<p>LinkedIn: @Model.LinkedInLink</p>
