@model GT.UI.Models.ListingFilterViewModel

	<p>
		Keywords (Separate by space, use underscore for spaces inside keywords): 
    @Html.TextBoxFor(fm => fm.Filter.KeywordsRawText, new { @id="keywordstextbox" })		
	</p>

    <p>
      Job type: 
      @Html.DropDownListFor(
        fm => fm.Filter.FTE,
        new SelectList(new List<object>
        {
          new { Text = "Any", Value = (bool?)null },
          new { Text = "Full Time", Value = true },
          new { Text = "Part Time", Value = false }
        }, "Value", "Text"), new { @id="jobtypedropdown" })
    </p>

    <p>
      Earliest creation date: 
      @Html.TextBoxFor(
        fm => fm.Filter.IncludeListingsFromDate, 
        "{0:dd/MM/yyyy}", 
        new { @type="date", @id="creationdatetextbox" })
    </p>

    <p>
      Minimum expected salary: 
      @Html.TextBoxFor(
        fm => fm.Filter.SalaryMin, 
        new { @type="number", @min=0 })
    </p>

    <p>
      Maximum expected salary: 
      @Html.TextBoxFor(
        fm => fm.Filter.SalaryMax, 
        new { @type="number", @min=0 })
    </p>

    <p>
      @for(int i = 0; i < Model.ExperienceLevels.Count; i++)
      {
        <p>
          <label>
            @Model.ExperienceLevels[i].Name
          </label>
          @Html.CheckBoxFor(fm => Model.ExperienceLevels[i].IsSelected)
        </p>
      }
    </p>

    <p>
      <input type="submit" value="Filter" />
    </p>

