@model GT.Core.DTO.Impl.ListingInquiryDTO

@using (Html.BeginForm("GetInquiry", "Inquiry", FormMethod.Get))
{
	<p>@Model.Id</p>
	<p>@Model.ListingId</p>
	<p>@Model.ApplicantId</p>
	<p>@Model.MessageTitle</p>
	<p>@Model.MessageBody</p>
	<p>@Model.LinkedInLink</p>
}
