@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model List<GT.Core.DTO.Impl.ListingOverviewDTO>
@{
	ViewData["Title"] = "Annonser";
}
<h1>@ViewData["Title"]</h1>

@*TODO: Select which props to display in overview.

	Properties available for Listing search results:

	public string? Id { get; set; }
	public string? ListingTitle { get; set; }
	public string? EmployerName { get; set; }
	public int? SalaryMin { get; set; }
	public int? SalaryMax { get; set; }
	public string? JobTitle { get; set; }
	public string? Location { get; set; }
	public bool? FTE { get; set; }
	public DateTime? CreatedDate { get; set; }
	public string? ExperienceLevel { get; set; }*@
@using (Html.BeginForm("ListingOverview", "Listing", FormMethod.Get))
{
	@await Html.PartialAsync("_ListingFilterPartial",
    new GT.UI.Models.ListingFilterViewModel
    {
      ExperienceLevels = (List<ExperienceLevelItem>)ViewData["ExperienceLevels"]
    })
}

<h3>Våra aktuella jobbannonser</h3>
@foreach (var item in Model)
{
	<br />
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-2">
							<a asp-action="GetListing" asp-controller="Listing" asp-route-id="@item.Id" class="stretched-link"><img src=~/img/GT.png alt="GT logo" height="30px" /></a>
						</div>
						<div class="col-sm-10">
							<h5 class="card-title">@item.JobTitle</h5>
						</div>
					</div>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">@item.ListingTitle</li>
						<li class="list-group-item">Location: @item.Location</li>
					</ul>
				</div>
				<div class="card-footer">
					<h6 class="card-subtitle mb-2 text-muted">Application deadline: @item.ApplicationDeadline</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			@if (SignInManager.IsSignedIn(User) && User.IsInRole("GTadmin"))
			{
				<a asp-action="Delete" asp-controller="Listing" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
			}
		</div>
	</div>
}
