@model GT.Core.DTO.Impl.ListingDTO
@{
	ViewData["Title"] = "Annons";

}

<h1>Annons</h1>

<h2>@Model.ListingTitle</h2>
<div class="ListingData">
	@Model.Employer
	<br />
	@Model.JobTitle
	<br />
	@Model.Description
	<br />
	@Model.SalaryMin @Model.SalaryMax
	<br />
	@Model.Location
	<br />
	@Model.FTE
	<br />
	@Model.ExperienceLevel
</div>
