@page
@model GT.UI.Pages.Listings.IndexModel
@{
	ViewData["Title"] = "Annonser";
}
<h1>@ViewData["Title"]</h1>
<form>
	<p>
		Search keyword(s):
		<input type="text" asp-for="SearchString" />
		<input type="submit" value="Filter" />
	</p>
</form>
@*public string? Id { get; set; }
	public string? ListingTitle { get; set; }
	public string? EmployerName { get; set; }
	public int? SalaryMin { get; set; }
	public int? SalaryMax { get; set; }
	public string? JobTitle { get; set; }
	public string? Location { get; set; }
	public bool? FTE { get; set; }
	public DateTime? CreatedDate { get; set; }
	public string? ExperienceLevel { get; set; }*@
<table class="table">
	<thead>
		<tr>
			<th>
				<p>ListingTitle</p>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListOverview)
		{
			<tr>
				<td>
					@Html.DisplayNameFor(modelItem => item.ListingTitle)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
